// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap-vue-next/dist/bootstrap-vue-next.css';
$bi-font-path: "./fonts"; // 告訴套件去哪找字體
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Colors
$black: #000;
$gray: #808080;
$light_gray: #f7f7f7;

.page-body {
    padding-bottom: 8rem;
    padding-top: 65px;
    overflow: hidden;
}
.page-content {
    max-width: 750px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
    position: relative;
    -webkit-animation: page-content 1s infinite;
    animation: page-content 1s infinite;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    right: 0;
    left: auto;
}

/* 響應式圖片 */
.img-responsive {
    width: 200px;
    max-width: 100%;
    height: auto;
    }
.video-responsive {
    width: 600px;
    max-width: 100%;
    height: auto;
    font-size: 1rem;
    color: $black;
    padding: 0.4em 0 0.2em 0;
}
.text-title{
    font-weight: 300;
    font-size: 0.9rem;
    color: $black;
    padding: 0.4em 0 0.2em 0;
}
.text-content{
    font-weight: 300;
    font-size: 0.9rem;
    color: $gray;
    padding: 0.4em 0 0.2em 0;
}
.text-title-2{
    font-weight: 300;
    font-size: 1rem;
    color: $black;
    padding: 0.4em 0 0.2em 0;
}
.text-content-2{
    font-weight: 300;
    font-size: 0.9rem;
    color: $gray;
    padding: 0.4em 0 0.2em 0;
}
.config{
    padding: 0 0 0 15pt;
}
.config-2{
    padding: 0 0 0 15pt;
    margin: 15pt 0 0 0;
}
.footer{
    padding: 5px 0px 5px 0px;
    width: 100%;
    position: relative;
    clear: both;
    background: $light_gray;
}
.copyrights {
    padding: 1rem;
    text-align: center;
}
.ps-m2rem {
    padding-left: 1rem !important;
}
