// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


.page-body {
    padding-bottom: 8rem;
    padding-top: 65px;
    overflow: hidden;
}
.page-content {
    max-width: 750px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
    position: relative;
    -webkit-animation: page-content 1s infinite;
    animation: page-content 1s infinite;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    right: 0;
    left: auto;
}
.text-title{
    font-weight: 300;
    font-size: 11pt;
    color: black;
    padding: 0.4em 0 0.2em 0;
}
.text-content{
    font-weight: 300;
    font-size: 11pt;
    color: gray;
    padding: 0.4em 0 0.2em 0;
}
.config{
    padding: 0 0 0 15pt;
}
.config-2{
    padding: 0 0 0 15pt;
    margin: 15pt 0 0 0;
}
.footer{
    padding: 5px 0px 5px 0px;
    width: 100%;
    position: relative;
    clear: both;
    background: #f7f7f7;
}
.copyrights {
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: #000000;
}

